[build]
run = "pip install -r requirements.txt"

[deployment]
run = "uvicorn main:app --host 0.0.0.0 --port 8000"
deploymentTarget = "cloudrun"

[nix]
channel = "stable-23.05"

[languages]
[languages.python]
pattern = "**/*.py"
[languages.python.languageServer]
start = "pylsp"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Run FastAPI Server"

[[workflows.workflow]]
name = "Run FastAPI Server"
author = 44532759
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
