/* Set a base font and background for the entire page */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}

#root {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; /* Center the content */
  padding: 2rem;
  box-sizing: border-box;
}
/* Dynamic Global Variables */
:root { --text-color: #333; }